body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    height: 100vh;
    background-color: #f4f4f4; 
    color: #333; 
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

tr:nth-child(even) td {
    background-color: #f2f2f2;
}

tr:nth-child(odd) td {
    background-color: #fff; 
}


th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #007bff;
    color: #fff;
}

td {
    background-color: #fff; 
}

a {
    text-decoration: none;
    color: #007bff;
}

